/* Header/Blog Title */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: center;
}

.header h1 {
  font-size: 50px;
}

div h2 {
  margin-top : 10px;
  margin-bottom: 10px;
}
/* Left column */
.topcolumn {   
  position: sticky;
  width: 100%;
  height: 120px;
  background-color: lightblue;
  padding: 10px;
  top:0;
  border: solid 0.8px skyblue;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 40%;
  padding: 10px;
  background-color: white;
  border-right: solid 1px black;
  padding-left: 10px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 60%;
  padding: 10px;
  background-color:beige;
  padding-left: 10px;
}

/* image */
div.gallery {
	background-color: gray;
  float: left;
  width: 33.33%;
  height: 200px;
  padding: 0px;
  border: solid 1px;
  z-index: 0;
}

div.gallery p {
  color: white;
}

div.gallery img {
  z-index: 1;
}

div.gallery:hover {
	background-color: #aaa;
}

div ul {
  display: none;
}

li.tag {
  float: right;
  list-style-type: none;
  margin: 2px;
  border: solid 0.5px white;
  border-radius: 5px;
}

div.gallery:hover ul{
	display: block;
} 

div.gallery:hover img{
	display: none;
  /* opacity: 0.5; */
} 

/* Add a card effect for articles */
.card {
  padding: 20px 10px;
  border-bottom: solid 0.5px gray;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

button {
	display: inline-block;
}

button.선택 {
	background-color: lightgreen;
}

button.제외 {
	background-color: lightsalmon;
}

button:hover {
	background-color: gray;
}